# Week 3

## Monday 

*Coverage: Ch. 2.1 and 2.2*

### Arithmetic in Python

The Python interpreter (ie, the program that interprets and executes your code) is, if nothing else, the best calculator you've ever used.

Most arithmatic will feel familiar from any other calculator, but there are some important differences you should be aware of.

All the basics are the same, and order of operations is the same as in algebra:

In [84]:
1+3

4

In [85]:
2 + 3*7**2

149

In [86]:
2^5

7

What about exponents, like $2^5$?

In [87]:
2**5

32

**Division**

Division presents some unique challenges to even the least-dumb computers.  Quick example:

In [88]:
1/3

0.3333333333333333

Note:  division is hard for computers, because we often get infinite demical representations.

We want accuracy (which means lots of digits), but we have finite memory (can't do em all!).

**Floating Point**

Computers use "floats" to keep track of "floating point numbers".  Named for scientific notation.

In python, use a lower case "e" for power of ten.

2*10^2

Neat example:  python can handle really big numbers:

In [89]:
2**100

1267650600228229401496703205376

Weird contrast:

In [90]:
2.0**100

1.2676506002282294e+30

1.267*10^30

What happened?  In the first example, python interpreted 2**100 as an integer 

Python: data type is "int"

Btw, python has really fancy libraries for working with ints.  There's black boxing going on here!

In the second example, we started with 2.0, a float.  Thus, the result is given as a float.

**Modular Artithmatic**

Mod operator:  % gives the "remainder" on division.

Also, can use \\ for division.  Gives the quotient.



Example:
- 2.2.3 

Let's assume that the distance between Granville and Columbus is 33.3 miles (according to google).  

The distance/length of library of congress: 838 miles of shelves

IE: 838/33.3

To find the integer multiple, use floor division:

In [91]:
838/33.3

25.165165165165167

Wait!  We need ROUND trips (both ways).  Thus:

In [92]:
838//(2*33.3)

12.0

## Wednesday 9-02

**Neat Use of Mod Operator**:  Counting multiples, repeating multiples

Let's say we want to iterate over 4 elements repeatedly.  

WHen we do %4, there are only 4 options:

x%4 == 0 (x is a multipe of 4)
x%4 == 1 (remainder of x/4 is 1)
x%4 == 2 (remainder of x/4 is 2)
x%4 == 3 (remainder of x/4 is 3)

Basic for loop:

In [93]:
for i in range(5,17):
    print(i%4)

1
2
3
0
1
2
3
0
1
2
3
0

**Only even numbers**

If x is even, then x%2 == 0.  Otherwise, if x is odd, x%2 == 1:

Example:  check for even numbers between 0 and 10: (include 10)

In [94]:
for thingie in range(11):
    if( thingie%2==0 ):
        print(thingie, " is an even number")
    else: 
        print(thingie, " is an odd number")

0  is an even number
1  is an odd number
2  is an even number
3  is an odd number
4  is an even number
5  is an odd number
6  is an even number
7  is an odd number
8  is an even number
9  is an odd number
10  is an even number

**Another neat Mod example**:  Progress report

In [95]:
for i in range(100):
    if( (i%10 == 0) and (i>0) ):
        print("Woohooo!  We're ", i, "% of the way there.  Yay!")
    print(i)

0
1
2
3
4
5
6
7
8
9
Woohooo!  We're  10 % of the way there.  Yay!
10
11
12
13
14
15
16
17
18
19
Woohooo!  We're  20 % of the way there.  Yay!
20
21
22
23
24
25
26
27
28
29
Woohooo!  We're  30 % of the way there.  Yay!
30
31
32
33
34
35
36
37
38
39
Woohooo!  We're  40 % of the way there.  Yay!
40
41
42
43
44
45
46
47
48
49
Woohooo!  We're  50 % of the way there.  Yay!
50
51
52
53
54
55
56
57
58
59
Woohooo!  We're  60 % of the way there.  Yay!
60
61
62
63
64
65
66
67
68
69
Woohooo!  We're  70 % of the way there.  Yay!
70
71
72
73
74
75
76
77
78
79
Woohooo!  We're  80 % of the way there.  Yay!
80
81
82
83
84
85
86
87
88
89
Woohooo!  We're  90 % of the way there.  Yay!
90
91
92
93
94
95
96
97
98
99

**See summary of Python arithmetic operators on page 36**

### Data Types

Summary (Google Search)

WARNING:  If you don't specify a data type for a new variable, python will guess!

If you're careful, this is useful.  If you're careless, it can be catastrophic!

Quick example:  ingtegers, floats, and strings:

In [96]:
myVariable = 7
type(myVariable)

int

In [97]:
myVariable2 = 7.0
type(myVariable2)

float

In [98]:
myVariable3 = "7"
type(myVariable3)

str

Examples:  

- text input for age.

In [99]:
yourAge = input("Please enter your age in years:")

Please enter your age in years: 36

In [100]:
print(yourAge*2)

3636

## Friday Sep 04

What happened in the example above?

The input function records user input as......?  Let's check.  Use the type() function.

In [101]:
type(yourAge)

str

Ah ha!  The input function assigns variables to strings!  ANd, reasonable to guess, the * operator repeats strings.  Test:

In [102]:
"test"*4

'testtesttesttest'

- simple program: days you've been alive

Idea: takes user input of "age" in years, then finds number of days total (to nearest year).

In [103]:
yourAge = input("Please enter your age in years")

Please enter your age in years 35

Problem:  input will be a string.  We can force it to be a int, using the built-in int() function.  Most data types can be "Forced" in this way.

In [109]:
yourAge = input("Please enter your age in years")
yourAge = int(yourAge)

Please enter your age in years 36

In [111]:
type(yourAge)

int

Yay!  it's an int, let's multiply like we wanted

In [112]:
print(yourAge*365)

13140

**Example** What's wrong?


You can glue strings together with "+"

In [113]:
print("my age is"+str(36))

my age is36

Here, makes sense to convert "36" to a string, and also to convert "36" to an int.

BUT:

In [114]:
int("seven")

ValueError: invalid literal for int() with base 10: 'seven'

In [123]:
type( int("7"))

int

- Note: all data types are objects with built-in functionality


Example:  all strings can be "split".

In [124]:
myExampleString = "this is my example string"

In [125]:
print(myExampleString)

this is my example string

All strings can be "split:

In [126]:
myNewList = myExampleString.split()

myNewList[2]

myEmployees = "Ali, Bob, Chad, Deb, Evan, George"

myEmployees.split("a")

['Ali, Bob, Ch', 'd, Deb, Ev', 'n, George']

#### Fun example with types and modular arithemetic: Employee Schedule

Consider the following:  We have a list of employees, and we want to assign them a day on the schedule one at a time.

First one on Monday, next employee on Tuesday, etc.  After Friday, we'll wrap around and start doubling them up (so that the 6th person works on monday, the 7th works on Tues, etc).

Key idea: the modulo operator lets us cycle through a list.

Two inputs:  a list of employees, and a list of days.

In [127]:
myEmployees = ["Ali", "Ben", "Charles", "Deb", "Ellie", "Fred", "Greg", "Henry", "Isaac", "Jack"]

myEmployees.index("Ali")

0

In [128]:
myEmployees = ["Ali", "Ben", "Charles", "Deb", "Ellie", "Fred", "Greg", "Henry", "Isaac", "Jack"]

daysOpen = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]


for employee in myEmployees:
    dayIndex = myEmployees.index(employee)%5
    print(employee, " works on ", daysOpen[dayIndex])
                                ## Need to keep track of our day

Ali  works on  Monday
Ben  works on  Tuesday
Charles  works on  Wednesday
Deb  works on  Thursday
Ellie  works on  Friday
Fred  works on  Monday
Greg  works on  Tuesday
Henry  works on  Wednesday
Isaac  works on  Thursday
Jack  works on  Friday

In [129]:
## Malcolm's way

## for loop over indexes


for employeeIndex in range(10):
    dayIndex = employeeIndex%5
    print(myEmployees[employeeIndex], "is working on ", daysOpen[dayIndex]   )

Ali is working on  Monday
Ben is working on  Tuesday
Charles is working on  Wednesday
Deb is working on  Thursday
Ellie is working on  Friday
Fred is working on  Monday
Greg is working on  Tuesday
Henry is working on  Wednesday
Isaac is working on  Thursday
Jack is working on  Friday

Be careful with type:

In [122]:
myEmployees["4"]

TypeError: list indices must be integers or slices, not str

In [ ]:
variable = input("test")